button{
    color: aqua;
    background-color: black;
    font-size: xx-large;
    font-family: inherit;
}

html{
    background-color: black;
    color: rgb(221, 0, 0);
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 2em;
    background-image: url("assets/Gregor.png");
    background-repeat: round;
    background-size: cover;
}